@import "tailwindcss";

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #09090b;
  color: #f4f4f5;
  user-select: none;
  -webkit-user-select: none;
  touch-action: none;
}

canvas {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
